body {
	margin: 0;
	background-color: rgb(33, 67, 30);
	font-family: Arial, Helvetica, sans-serif;
	color: whitesmoke;
}

main {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-ctn {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 350px;
	height: 90px;
}

.radio div {
	display: flex;
}

.input-ctn.checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.errors-ctn {
	color: rgb(255, 0, 0);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 500px;
	border: 3px solid black;
	border-radius: 10px;
	padding: 25px;
	background-color: rgb(0, 86, 86);
}

input {
	height: 30px;
	border: none;
	border-radius: 3px;
	padding: 0px 10px;
}

button {
	width: 300px;
	height: 45px;
	background-color: rgb(21, 213, 0);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	border: none;
	font-size: 20px;
	font-weight: 700;
}

button:hover {
	background-color: rgb(0, 255, 0);
}
